# Core
pandas
numpy

# LangChain
langchain
langchain-core
langchain-community
langchain-huggingface

# Vector Database
faiss-cpu

# HuggingFace
transformers
sentence-transformers
torch

# Streamlit UI
streamlit

# Utilities
accelerate
safetensors
